config/private.yml
blobs
dev_releases
releases/*.tgz
releases/**/*.tgz
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
root.ca
man
src/*/*.tar.gz
src/*/*.zip
src/jq/*
*.tgz
cf.yaml
#*
deploy.sh
victoria-metrics-bosh-release.key.json
clear-credhub.sh